<%# locals: (form:) %>

<% account = form.object %>

<% if account.new_record? %>
  <%= form.text_field :id, required: true, minlength: 3, maxlength: 24, pattern: "[a-z0-9][a-z0-9_\-]*", autocomplete: "username", help: "Must be 3–24 characters, start with a lowercase letter or digit (not _ or -), and contain only lowercase letters, digits, underscores, or hyphens." %>

  <%= form.password_field :password, required: true, minlength: 8, autocomplete: "new-password", help: "At least 8 characters." %>
  <%= form.password_field :password_confirmation, required: true, minlength: 8, autocomplete: "new-password" %>
<% else %>
  <%= form.text_field :id, required: true, disabled: true %>
<% end %>

<%= form.email_field :email, required: true, autocomplete: "work email" %>

<div class="row row-cols-2">
  <%= form.text_field :first_name, required: true, autocomplete: "given-name" %>
  <%= form.text_field :first_name_japanese, autocomplete: "given-name" %>
</div>

<%= form.text_field :middle_name, autocomplete: "additional-name" %>

<div class="row row-cols-2">
  <%= form.text_field :last_name, required: true, autocomplete: "family-name" %>
  <%= form.text_field :last_name_japanese, autocomplete: "family-name" %>
</div>

<div class="row row-cols-2">
  <%= form.text_field :job_title, autocomplete: "organization-title" %>
  <%= form.text_field :job_title_japanese, autocomplete: "organization-title" %>
</div>

<%= form.text_field :orcid, format: "^\d{4}-\d{4}-\d{4}-\d{3}[\dX]$", help: "Format: 0000-0002-1825-0097 (16 digits separated by hyphens)" %>
<%= form.text_field :erad_id, format: "^\d{8}$", help: "Format: 12345678 (8 digits)" %>

<hr>

<div class="row row-cols-2">
  <%= form.text_field :organization, required: true, autocomplete: "organization" %>
  <%= form.text_field :organization_japanese, autocomplete: "organization" %>
</div>

<div class="row row-cols-2">
  <%= form.text_field :lab_fac_dep %>
  <%= form.text_field :lab_fac_dep_japanese %>
</div>

<%= form.url_field :organization_url, autocomplete: "url" %>

<%
  opts = safe_join([
    options_from_collection_for_select(
      [ ISO3166::Country[:JP] ],
      :alpha2,
      :common_name,
      account.country
    ),
    tag(:hr),
    options_from_collection_for_select(
      ISO3166::Country.all.sort_by(&:common_name),
      :alpha2,
      :common_name,
      account.country
    )
  ])
%>

<%= form.select :country, opts, include_blank: true, required: true, autocomplete: "country" %>

<%= form.text_field :postal_code, autocomplete: "postal-code" %>
<%= form.text_field :prefecture, autocomplete: "address-level1" %>
<%= form.text_field :city, required: true, autocomplete: "address-level2" %>
<%= form.text_field :street, autocomplete: "street-address" %>
<%= form.telephone_field :phone, autocomplete: "work tel" %>

<% if account.new_record? %>
  <hr>

  <%= form.check_box :accept_terms, required: true do %>
    I have read and agree to the <%= link_to "Terms of Use", "https://www.ddbj.nig.ac.jp/policies-e.html", target: "_blank" %>.
  <% end %>
<% end %>
