<!DOCTYPE html>

<html>
  <head>
    <title><%= content_for(:title) || "DDBJ Account" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <%= link_to "DDBJ Account", root_path, class: "navbar-brand" %>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <% if signed_in? %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <%= current_user.username %>
                </a>

                <ul class="dropdown-menu">
                  <li>
                    <%= button_to "Logout", session_path, method: :delete, class: "dropdown-item" %>
                  </li>
                </ul>
              </li>
            <% end %>

            <li class="nav-item">
              <%= link_to "Help", @help_url || "https://www.ddbj.nig.ac.jp/ddbj-account", class: "nav-link", target: "_blank" %>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container py-3">
      <% { notice: "success", alert: "danger" }.each do |key, style| %>
        <% if message = flash[key].presence %>
          <div class="alert alert-<%= style %> alert-dismissible fade show">
            <%= message %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        <% end %>
      <% end %>

      <%= content_for?(:content) ? yield(:content) : yield %>
    </div>
  </body>
</html>
