<% content_for :content do %>
  <div class="row">
    <div class="col-3">
      <div class="list-group">
        <%= link_to 'Profile', edit_profile_path, **{
          class: ['list-group-item', 'list-group-item-action', active: controller_path == 'profiles']
        } %>

        <%= link_to 'Password', edit_password_path, **{
          class: ['list-group-item', 'list-group-item-action', active: controller_path == 'passwords']
        } %>

        <%= link_to 'SSH keys', ssh_keys_path, **{
          class: ['list-group-item', 'list-group-item-action', active: controller_path == 'ssh_keys']
        } %>
      </div>

      <%= button_to 'Logout', session_path, **{
        method:     :delete,
        form_class: 'list-group mt-3',
        class:      'list-group-item list-group-item-action rounded',
        data:       {turbo: false}
      } %>

      <% if current_user.admin? %>
        <b class="d-block mt-3 mb-1 px-1">Administration</b>

        <div class="list-group">
          <%= link_to 'Users', admin_users_path, **{
            class: ['list-group-item', 'list-group-item-action', active: controller_path.in?(%w[admin/users admin/ssh_keys])]
          } %>

          <%= link_to 'Readers', admin_readers_path, **{
            class: ['list-group-item', 'list-group-item-action', active: controller_path == 'admin/readers']
          } %>

          <%= link_to 'API keys', admin_api_keys_path, **{
            class: ['list-group-item', 'list-group-item-action', active: controller_path == 'admin/api_keys']
          } %>
        </div>
      <% end %>
    </div>

    <div class="col-9">
      <%= yield %>
    </div>
  </div>
<% end %>

<%= render template: 'layouts/application' %>
