<% content_for :content do %>
  <div class="row">
    <div class="col-3">
      <div class="list-group">
        <%= link_to "Profile", edit_profile_path, **{
          class: ["list-group-item", "list-group-item-action", active: controller_path == "profiles"]
        } %>

        <%= link_to "Password", edit_password_path, **{
          class: ["list-group-item", "list-group-item-action", active: controller_path == "passwords"]
        } %>

        <%= link_to "SSH keys", ssh_keys_path, **{
          class: ["list-group-item", "list-group-item-action", active: controller_path == "ssh_keys"]
        } %>
      </div>

      <% if current_user.account_type_number.ddbj? %>
        <b class="d-block mt-3 mb-1 px-1">Administration</b>

        <div class="list-group">
          <%= link_to "Users", admin_users_path, **{
            class: ["list-group-item", "list-group-item-action", active: controller_path == "admin/users"]
          } %>
        </div>
      <% end %>
    </div>

    <div class="col-9">
      <%= yield %>
    </div>
  </div>
<% end %>

<%= render template: "layouts/application" %>
