<%# locals: (form:) %>

<% account = form.object %>

<%= form.text_field :username, required: true, disabled: account.persisted? %>

<%= form.fields_for :user do |ff| %>
  <%= ff.hidden_field :id %>

  <% if account.new_record? %>
    <%= ff.password_field :password, required: true %>
    <%= ff.password_field :password_confirmation, required: true %>
  <% end %>

  <%= ff.email_field :email, required: true %>

  <div class="row row-cols-2">
    <%= ff.text_field :first_name, required: true %>
    <%= ff.text_field :first_name_japanese, label: "First name in Japanese" %>
  </div>

  <%= ff.text_field :middle_name %>

  <div class="row row-cols-2">
    <%= ff.text_field :last_name, required: true %>
    <%= ff.text_field :last_name_japanese, label: "Last name in Japanese" %>
  </div>

  <div class="row row-cols-2">
    <%= ff.text_field :job_title %>
    <%= ff.text_field :job_title_japanese, label: "Job title in Japanese" %>
  </div>

  <%= ff.text_field :orcid, label: "ORCID" %>
  <%= ff.text_field :erad_id, label: "e-Rad Researcher number" %>

  <hr>

  <div class="row row-cols-2">
    <%= ff.text_field :organization, label: "Organization", required: true %>
    <%= ff.text_field :organization_japanese, label: "Organization in Japanese" %>
  </div>

  <div class="row row-cols-2">
    <%= ff.text_field :lab_fac_dep, label: "Laboratory, Faculty, Department" %>
    <%= ff.text_field :lab_fac_dep_japanese, label: "Laboratory, Faculty, Department in Japanese" %>
  </div>

  <%= ff.url_field :organization_url, label: "Organization URL" %>

  <%
    opts = safe_join([
      options_from_collection_for_select(
        [ ISO3166::Country[:JP] ],
        :alpha2,
        :common_name,
        account.user.country
      ),
      tag(:hr),
      options_from_collection_for_select(
        ISO3166::Country.all.sort_by(&:common_name),
        :alpha2,
        :common_name,
        account.user.country
      )
    ])
  %>

  <%= ff.select :country, opts, include_blank: true, required: true %>

  <%= ff.text_field :postal_code, label: "Postal code/Zip code" %>
  <%= ff.text_field :prefecture, label: "State/Prefecture" %>
  <%= ff.text_field :city, required: true %>
  <%= ff.text_field :street %>
  <%= ff.telephone_field :phone %>
<% end %>
