<h1 class="mb-3">Profile</h1>

<%= bootstrap_form_for @account, url: account_path do |f| %>
  <%= f.text_field :account_id, required: true, disabled: true %>
  <%= f.email_field :email, required: true %>

  <div class="row row-cols-2">
    <%= f.text_field :first_name, required: true %>
    <%= f.text_field :first_name_japanese, label: "First name in Japanese" %>
  </div>

  <%= f.text_field :middle_name %>

  <div class="row row-cols-2">
    <%= f.text_field :last_name, required: true, wrapper: { class: "mb-0" } %>
    <%= f.text_field :last_name_japanese, label: "Last name in Japanese", wrapper: { class: "mb-0" } %>
  </div>

  <hr>

  <div class="row row-cols-2">
    <%= f.text_field :institution, label: "Organization" %>
    <%= f.text_field :institution_japanese, label: "Organization in Japanese" %>
  </div>

  <div class="row row-cols-2">
    <%= f.text_field :lab_fac_dep, label: "Laboratory, Faculty, Department" %>
    <%= f.text_field :lab_fac_dep_japanese, label: "Laboratory, Faculty, Department in Japanese" %>
  </div>

  <%= f.text_field :url, label: "Organization URL" %>
  <%= f.text_field :country %>
  <%= f.text_field :postal_code, label: "Postal code/Zip code" %>
  <%= f.text_field :prefecture, label: "State/Prefecture" %>
  <%= f.text_field :city %>
  <%= f.text_field :street %>
  <%= f.text_field :phone %>
  <%= f.text_field :fax %>

  <hr>

  <%= f.text_field :lang, label: "Language" %>

  <div class="row row-cols-2">
    <%= f.text_field :job_title %>
    <%= f.text_field :job_title_japanese, label: "Job title in Japanese" %>
  </div>

  <%= f.text_field :orcid, label: "ORCID" %>
  <%= f.text_field :erad_id, label: "e-Rad Researcher number" %>

  <%= f.primary "Update profile" %>
<% end %>
