<h1>Edit Account</h1>

<%= bootstrap_form_for @account, url: account_path do |f| %>
  <%= f.text_field :account_id, required: true, disabled: true %>
  <%= f.email_field :email, required: true %>
  <%= f.text_field :first_name, required: true %>
  <%= f.text_field :middle_name %>
  <%= f.text_field :last_name, required: true %>

  <%= f.primary "Update Account" %>
<% end %>
