<h1>New Account</h1>

<%= bootstrap_form_for @account, url: account_path do |f| %>
  <%= f.text_field :account_id %>
  <%= f.password_field :password %>
  <%= f.password_field :password_confirmation %>
  <%= f.text_field :email %>
  <%= f.text_field :first_name %>
  <%= f.text_field :middle_name %>
  <%= f.text_field :last_name %>

  <%= f.submit "Create Account" %>
<% end %>
